@model LastTodoApp.Domain.Dto.TaskDto

@{
    ViewData["title"] = "Edit Task";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <h1 class="text-center mt-3">Edit Task</h1>
            <br />
            <form asp-action="Edit" asp-controller="Task" method="post">
                @if (TempData["Error"] != null)
                {
                    <p class="col-md-12 btn btn-danger" style="color:white;">
                        <span id="errorSpan"><b>Sorry!</b> - @TempData["Error"]</span>
                    </p>
                }


                <!-- Title field -->
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Title:</label>
                    <input asp-for="Title" name="Title" class="form-control" autocomplete="off" required />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <!-- Description field -->
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description:</label>
                    <input asp-for="Description" name="Description" class="form-control" autocomplete="off" required />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <!-- DueDate field -->
                <div class="form-group">
                    <label asp-for="DueDate" class="control-label">Due Date:</label>
                    <input asp-for="DueDate" type="date" name="DueDate" class="form-control" autocomplete="off" required />
                    <span asp-validation-for="DueDate" class="text-danger"></span>
                </div>

                <!-- Status field -->
                <div class="form-group">
                    <label asp-for="Status" class="control-label">Status:</label>
                    <select asp-for="Status" class="form-control" required>
                        <option value="Started">Started</option>
                        <option value="Process">Process</option>
                        <option value="Finished">Finished</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <!-- User's Email field -->
                <div class="form-group">
                    <label for="User.Email" class="control-label">User's Email:</label>
                    @{
                        var users = ViewBag.Users as SelectList ?? new SelectList(new List<LastTodoApp.Domain.Entities.User>(), "Email", "Email");
                    }
                    <select asp-for="UserEmail" class="form-control" asp-items="@users" required>
                        <option value="">Select a user</option>
                    </select>
                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                </div>


                <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a asp-action="Index" asp-controller="Task" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
