@{
    ViewData["Title"] = "Home Page";
}


<div class="container" style="width:100%; height:80vh; overflow:hidden">
    <img src="~/img/bg.png" style="width:100%; margin-top:50px; height:100%" alt="Logo" />
    @*<div class="card" style="margin-top">
        <div class="card-header">
            <h1>Welcome To Todo Control App</h1>
        </div>
    </div>*@
</div>